@font-face {
  font-family: "Simplon Mono";
  src: url("/argentcreative/SimplonMono-Bold.eot");
  src: url("/argentcreative/SimplonMono-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/argentcreative/SimplonMono-Bold.woff2") format("woff2"),
    url("/argentcreative/SimplonMono-Bold.woff") format("woff"),
    url("/argentcreative/SimplonMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/argentcreative/Lausanne-Regular.eot");
  src: url("/argentcreative/Lausanne-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/argentcreative/Lausanne-Regular.woff2") format("woff2"),
    url("/argentcreative/Lausanne-Regular.woff") format("woff"),
    url("/argentcreative/Lausanne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
