extends ../layout/layout
block append vars

block append head
    title Starter Kit - Parcel

block content
    h3 TEST DENEME about
    h4 hello
    include pages-components/about/about-content
    a(href="./index.pug") test link
