.h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 40px;
}
$colorY: gray;

body {
  // color: $colorY;
  // padding: 20px;
  // background-color: #e9e9e9;
}

.country {
  // background-image: url(../assets/images/pin.png);
  // width: 50px;
  // height: 50px;
}
.pinnes {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;

  .pin {
    position: absolute;
    z-index: 2;
    & > img {
      cursor: pointer;
    }
    &-number {
      color: #c92017;
      margin-left: 0px;
      width: 48px;
      font-weight: 600;
      text-align: center;
      position: absolute;
      bottom: 90%;
    }
    &-popup {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      height: 200px;
      background: #fff;
      box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
      padding: 15px;
      border-radius: 10px;
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: $transition;

      &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0 10px 10px 0;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      &__item {
        font-size: 16px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: rgba(#000, 0.5);
        border-bottom: 1px solid rgba(#000, 0.1);
        font-weight: 500;
        text-transform: capitalize;
        display: block;
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
}
.map {
  position: relative;
  width: 100%;
  height: 100vh;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
